h1 {
    text-align: center;
}

.contact_container {
    background-color: var(--secondary-bg-color);
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    margin: 50px auto;
    text-align: center;
    gap: 10px;
}
  
.contact_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.submit {
   border-style: none;
   margin: 20px auto;
}

.form-items {
    margin: 25px auto;
    text-align: left;
}

label {
    display: block;
}

textarea {
  padding: 10px 5px;
  width: 100%;
  border: 1px solid var(--text-color);
  border-radius: 6px;
  outline: none;
  resize: none;
}

/* FORM VALIDATION */
.form-success {
  background-color: #A1C298;
  border: 3px solid black;
  border-radius: 6px;
  display: none;
  padding: 10px;
}

.form-error {
  background-color: #FA7070;
  border: 3px solid black;
  color: black;
  border-radius: 6px;
  display: none;
  padding: 10px;
}

.error-message {
  display: none;
  color: red;
}

