/* Colours */
/* #ffffff white, 
#ebebed light grey, 
#95b0b8 light button, 
#113340 dark button, 
#000000 black */

/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
  color: #000000;
  line-height: 1.5;
}

h1,
h2,
h3,
p,
a {
  margin: 10px;
}

h1,
h2,
h3,
a {
  text-transform: uppercase;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

i {
  color: #113340;
}

.btn {
  color: #ffff;
  background-color: #113340;
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  padding: 15px 10px;
  border-radius: 6px;
  margin: 5px auto;
  display: inline-block;
  min-width: 135px;
}

input {
  padding: 5px 50px;
}

/* Header Section*/
header {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px 5px;
}

header a {
  padding: 10px;
}

.logo {
  width: 100px;
}

nav {
  margin-right: 25px;
  display: none;
  position: fixed;
  top: 60px;
  background: #95b0b8;
  z-index: 100;
  left: 0px;
}

nav ul {
  padding: 0px;
}

nav li {
  display: block;
  padding: 10px 20px;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

/* Main Section */
.info-bar {
  background-color: #000000;
  height: 20px;
}

.hero-header {
  background-image: url(/images/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 60vh;
  background-position-x: 2%;
  background-position-y: top;
  position: relative;
}

.hero-header_content {
  position: absolute;
  text-align: center;
  max-width: 70%;
  top: 50px;
  left: 50px;
}

.hero-header_content p {
  margin: 10px 0;
}

.shop-gender {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1000px;
  margin: 50px auto;
  grid-gap: 10px;
  text-align: center;
}

/* .shop-image_container {
  width: 100%;
  height: 50%;
}

.shop-gender img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.shop-gender img {
  width: 375px;
  height: 375px;
  object-fit: cover;
}

.shop-image_container {
  margin: 25px 0px;
}

.shop-image_container h2 {
  font-weight: 600;
}

.top-sellers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
  margin: 50px 10px;
  grid-gap: 10px;
  text-align: center;
}

.top-sellers h2 {
  grid-column: -1/1;
  font-weight: 600;
}

.top-sellers_content {
  margin: 5px auto;
  text-align: left;
}

.top-sellers img {
  width: 100%;
}

.newsletter {
  background-color: #ebebed;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  grid-gap: 10px;
}

.newsletter h2 {
  font-weight: 900;
}

.newsletter h3 {
  font-weight: 600;
}

.newsletter img {
  width: 375px;
  height: 375px;
  object-fit: cover;
}

.newsletter .btn {
  border-style: none;
}

/* Footer */
.footer_grid {
  background-color: #000000;
  padding: 10px 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.copyright-container {
  text-align: center;
}

.copyright {
  background-color: #000000;
  color: #ffff;
}

.social-media i {
  color: #ffff;
}
