h2 {
    text-align: center;
}

/* OLD STATIC */
.top-sellers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    margin: 50px auto;
    gap: 10px;
    text-align: center;
  }
  
  .top-sellers h2 {
    grid-column: -1/1;
  }
  
  .top-sellers_content {
    margin: 5px auto;
    text-align: left;
  }
  
  .top-sellers img {
    width: 100%;
  }

  /* NEW DYNAMIC */
.best-products_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    margin: 50px auto;
    gap: 10px;
    text-align: center;
}

.best-product p {
    text-align: left;
    text-transform: uppercase;
}